*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.clear::after{
    content: '';
    clear: both;
    display: table;
}



/* coloumn */
[class*="col"]{
    float: left;

}

.colxs-1{
    width: calc(100% / 12);
}
.colxs-2{
    width: calc(100% / 6) ;
}
.colxs-3{
    width: calc(100% / 4);
}
.colxs-4{
    width: calc(100% / 3);
}
.colxs-5{
    width: calc((100% / 12)*5);
}
.colxs-6{
    width: 50%;
}
.colxs-7{
    width: calc((100% / 12)*7);
}
.colxs-8{
    width: calc((100% / 12)*8);
}
.colxs-9{
    width: calc((100% / 12)*9);
}
.colxs-10{
    width: calc((100% / 12)*10);
}
.colxs-11{
    width: calc((100% / 12)*11);
}
.colxs-12{
    width: 100%;
}


/* /coloumn */

/* offset colomun */
[class*="offset"]{
    float: left;

}

.offsetxs-0{
    width: 0;
}
.offsetxs-1{
    width: calc(100% / 12);
}
.offsetxs-2{
    width: calc(100% / 6) ;
}
.offsetxs-3{
    width: calc(100% / 4);
}
.offsetxs-4{
    width: calc(100% / 3);
}
.offsetxs-5{
    width: calc((100% / 12)*5);
}
.offsetxs-6{
    width: 50%;
}
.offsetxs-7{
    width: calc((100% / 12)*7);
}
.offsetxs-8{
    width: calc((100% / 12)*8);
}
.offsetxs-9{
    width: calc((100% / 12)*9);
}
.offsetxs-10{
    width: calc((100% / 12)*10);
}
.offsetxs-11{
    width: calc((100% / 12)*11);
}
/* /offset colomun */

@media screen and (min-width: 768px) {
    .colmd-1{
        width: calc(100% / 12);
    }
    .colmd-2{
        width: calc(100% / 6) ;
    }
    .colmd-3{
        width: calc(100% / 4);
    }
    .colmd-4{
        width: calc(100% / 3);
    }
    .colmd-5{
        width: calc((100% / 12)*5);
    }
    .colmd-6{
        width: 50%;
    }
    .colmd-7{
        width: calc((100% / 12)*7);
    }
    .colmd-8{
        width: calc((100% / 12)*8);
    }
    .colmd-9{
        width: calc((100% / 12)*9);
    }
    .colmd-10{
        width: calc((100% / 12)*10);
    }
    .colmd-11{
        width: calc((100% / 12)*11);
    }
    .colmd12{
        width: 100%;
    }


    /* /coloumn */

    /* offset colomun */
    .offsetmd-0{
        width: 0;
    }
    .offsetmd-1{
        width: calc(100% / 12);
    }
    .offsetmds-2{
        width: calc(100% / 6) ;
    }
    .offsetmd-3{
        width: calc(100% / 4);
    }
    .offsetmd-4{
        width: calc(100% / 3);
    }
    .offsetmd-5{
        width: calc((100% / 12)*5);
    }
    .offsetmd-6{
        width: 50%;
    }
    .offsetmd-7{
        width: calc((100% / 12)*7);
    }
    .offsetmd-8{
        width: calc((100% / 12)*8);
    }
    .offsetmd-9{
        width: calc((100% / 12)*9);
    }
    .offsetmd-10{
        width: calc((100% / 12)*10);
    }
    .offsetmd-11{
        width: calc((100% / 12)*11);
    }
    /* /offset colomun */
}

@media screen and (min-width: 992px) {
    .collg-1{
        width: calc(100% / 12);
    }
    .collg-2{
        width: calc(100% / 6) ;
    }
    .collg-3{
        width: calc(100% / 4);
    }
    .collg-4{
        width: calc(100% / 3);
    }
    .collg-5{
        width: calc((100% / 12)*5);
    }
    .collg-6{
        width: 50%;
    }
    .collg-7{
        width: calc((100% / 12)*7);
    }
    .collg-8{
        width: calc((100% / 12)*8);
    }
    .collg-9{
        width: calc((100% / 12)*9);
    }
    .collg-10{
        width: calc((100% / 12)*10);
    }
    .collg-11{
        width: calc((100% / 12)*11);
    }
    .collg-12{
        width: 100%;
    }

    /* /coloumn */
    .offsetlg-0{
        width: 0;
    }
    .offsetlg-1{
        width: calc(100% / 12);
    }
    .offsetlg-2{
        width: calc(100% / 6) ;
    }
    .offsetlg-3{
        width: calc(100% / 4);
    }
    .offsetlg-4{
        width: calc(100% / 3);
    }
    .offsetlg-5{
        width: calc((100% / 12)*5);
    }
    .offsetlg-6{
        width: 50%;
    }
    .offsetlg-7{
        width: calc((100% / 12)*7);
    }
    .offsetlg-8{
        width: calc((100% / 12)*8);
    }
    .offsetlg-9{
        width: calc((100% / 12)*9);
    }
    .offsetlg-10{
        width: calc((100% / 12)*10);
    }
    .offsetlg-11{
        width: calc((100% / 12)*11);
    }
    /* /offset colomun */
}
